
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh;  background-size: cover; background-image: url()">
        <div class="container-fluid">
          <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12 col-md-4 col-lg-3   h-50 ">
              <div class="card shadow">
                <div class="card-body mx-auto">
                  <h4 class="card-title mt-2 text-center">SHAH PREMIER LEAGUE</h4>
                  <p class="text-center">Register Now</p>
                  <p>
                    <a href="" class="btn btn-block btn-danger">
                      <i class="fab fa-instagram mr-2"></i>Instagram</a>
                    <a href="" class="btn btn-block btn-primary">
                      <i class="fab fa-facebook-f mr-2"></i>Facebook</a>
                  </p>
                  <p class="text-muted font-weight-bold ">
                    <!-- <span>OR</span> -->
                  </p>
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                      <input name="" class="form-control" placeholder="Full Name" type="text"
                      formControlName="fullname"
                      [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
                    />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                      <div *ngIf="f.fullname.errors.required">Full Name is required</div>
                      <div *ngIf="f.fullname.errors.minlength">Minimum Length is 6</div>
                      <div *ngIf="f.fullname.errors.maxlength">Maximum Length is 20</div>
                    </div>
                    </div>
                  
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user-tie"></i> </span>
                      </div>
                      <input name="" class="form-control" placeholder="Father Name" type="text"  formControlName="fname"
                      [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                    />
                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                      <div *ngIf="f.fname.errors.required">Father Name is required</div>
                      <div *ngIf="f.fname.errors.minlength">Minimum Length is 6</div>
                      <div *ngIf="f.fname.errors.maxlength">Maximum Length is 20</div>
                  </div>
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                      </div>
                      <input class="form-control" placeholder="Phone Number" type="text"  formControlName="phone"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                    />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Phone is required</div>
                      <div *ngIf="f.phone.errors.pattern">Enter Phone in right pattern</div>
                      <div *ngIf="f.phone.errors.minlength">Minimum Length is 10</div>
                  </div>
                    </div>
                 
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-tshirt"></i> </span>
                      </div>
                      <select class="form-control" formControlName="size">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>X-Large</option>
                      </select>
                    </div>
                 
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Submit </button>
                    </div>
                
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
     </section>